<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbarFragment}"></nav>
    <label for="subjectSelect">Select an option:</label>
    <select id="subjectSelect">
        <option value="국어">국어</option>
        <option value="수학">수학</option>
        <option value="댄스">댄스</option>
    </select>

    <!-- 버튼을 클릭하면 선택된 값을 사용하여 새로운 페이지로 이동 -->
    <button onclick="redirectToNewPageBySubject()">과목 학점 보기</button>

    <table>
        <thead>
        <tr>
            <th>이름</th>
            <th>학번</th>
            <th>중점과목</th>
            <th>점수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.studentName}"></td>
            <td th:text="${subject.studentId}"></td>
            <td th:text="${subject.majorSubject}"></td>
            <td th:text="${subject.score}">:</td>
            <td th:text="${subject.grade}"></td>
        </tr>
        </tbody>
    </table>

    <script>
        function redirectToNewPageBySubject() {
            let selectedValue = document.getElementById('subjectSelect').value;
            window.location.href = '/school/subject?subject=' + encodeURIComponent(selectedValue);
        }
    </script>
</body>
</html>